   <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="bg-dark col-auto col-md-2 min-vh-100">
        <div class="bg-dark p-2">
          <a href="d-flex text-decoration-none align-items-center">
           <span class="fs-4 d-none d-sm-inline">SideMenu</span>
          </a>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a href="#" class="nav-link active" aria-current="page">Active</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Link</a>
            </li>
            <li class="nav-item disabled">
              <a href="#" class="nav-link">Disabled</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>